.carousel {
    display: flex;

    flex-flow: row nowrap;
    overflow-x: scroll;
    
    gap: 1em;
    
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
    padding: 1em 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}


.carousel-card {
    display: block;
    width: 9em;
    padding: .5em;

    background-color: var(--clr-3);
    border-radius: 16px;
    color: var(--clr-1);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    gap: .25em;
}

.card-image {
    width: 6em;
    height: 6em;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    align-self: center;
}

@media (hover: hover) {
    .carousel-card:hover {
        background-color: var(--clr-4);
        cursor: pointer;
    }

    .carousel-card:hover, .carousel-card:hover * {
        transition-duration: .5s;
    }

    .carousel-card:hover .countdown-timer {
        --bg-flipCard: var(--clr-4);
    }
}


.field-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}

.field-label, .field-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.field-label {
    font-size: 0.4em;
    font-weight: 900;
    text-transform: uppercase;
}

.field-content {
    font-size: 0.5em;
}
