.contacts-container {
    color: var(--clr-1);
    background-color: var(--clr-3);

    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;

    padding: 0 2em 1.5em 2em;

    gap: .5em;
}

.contacts-container div {
    font-size: 0.8em;

    text-align: justify;
}