.footer-container {
    background-color: var(--clr-1);
    color: var(--clr-3);
    font-size: .3em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 1em;
    padding: 1em;

}

.credits-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}