/* logo */

.logo-wrapper {
    display: inline-flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-family: "fuego-font";
    z-index: 1;
}

.logo-wrapper span {
    display: inline-block;
    
    width: 0.8em;
    font-size: 1em;
    font-weight: 600;
    
    text-align: center;
    text-transform: uppercase;
}

.logo {
    font-size: 1.5em !important;
}

.pulse {
    animation: pulse 1.5s ease-in-out alternate infinite;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}