.merchandise-container {
    background-color: var(--clr-3);
    color: var(--clr-1);

    padding: 0 2em 1.5em 2em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}

.products-carousel {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    gap: 1em;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 1em 0;
}

.products-carousel::-webkit-scrollbar {
    display: none;
}