.navigate-to {
    position: relative;
    
    font-family: "Poppins";
    color: var(--clr-3);
    font-size: 1.2em;
    
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.navigate-to::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -3px;

    width: 100%;
    height: 2px;
    
    transform: scaleX(0);
    background-color: var(--clr-3);
    
    transition: transform 0.15s ease-out;
}

.active::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}