@media (hover: hover) {
    .navigate-to:hover::after {
        transform: scaleX(1);
        transform-origin: bottom center;
    }

    .navigate-to:hover {
        font-weight: 900;
    }

    .menu-button-container:hover {
        cursor: pointer;
    }
}


.topbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: var(--topbar-zindex);
    background-color: var(--clr-1);
    color: var(--clr-3);


    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding: 1em 2em;
    font-size: .5em;
}

.nav-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-container>li {
    margin: 0 1em;
}

.menu-button-container {
    display: none;

    height: 100%;
    width: 30px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;

    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: transparent;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .nav-container>li {
        margin: 0 1em;
        overflow: hidden;
    }

    .menu-button-container {
        display: flex;
        height: 1em;
    }

    .nav-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        margin-top: 3.5em;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.nav-container li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height .5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.nav-container li {
        height: 2.75em;
        padding: 0.5em;
        transition: height .5ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .nav-container>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: var(--clr-3);
        background-color: var(--clr-1);
    }
}